<!DOCTYPE html>
<html>
	<head>
		<title>C.I.S Tours</title>
		<link rel="icon" href="/icons/favicon.ico">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
		<link rel="stylesheet" href="/stylesheets/contacts.css" type="text/css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	</head>
	<body>
		<nav>
			<% include nav %>
		</nav>
		<main>
			<div class="parallax" style="background-image: url('/images/rome-1713190_1920.jpg')"></div>
			<div id="cont">
				<div id="contacts">
					<div>Contact Us</div>
					<div>
						<i class="material-icons">call</i>
						<p>+39 06 69424083</p>
					</div>
					<div>
						<img src="/icons/gmail.png">
						<p>cistour2018@gmail.com</p>
					</div>
					<div>
						<img src="/icons/facebook.png">
						<p><a href="https://www.facebook.com/cistoursroma">@cistoursroma</a></p>
					</div>
					<div>
						<img src="/icons/instagram.png">
						<p><a href="https://www.instagram.com/cis_tours/">@cis_tours</a></p>
					</div>
				</div>
				<div id="map">
					<div>Meeting point</div>
					<div>
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2970.4694207561806!2d12.505228651108546!3d41.88276067299936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f61ea7aed7d35%3A0x13130fb7d40a9312!2sVia+Amiterno%2C+22%2C+00183+Roma+RM!5e0!3m2!1sit!2sit!4v1542386157594" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
			</div>
			<footer>
				<% include footer %>
			</footer>
		</main>
	</body>
</html>
