<div>
	<div>
		<div><a href='/'>Home</a></div>
	</div>
	<div>
		<div><a href='/caterogies'>Categories</a></div>
		<div><a href='/caterogy/1'>Vatican</a></div>
		<div><a href='/caterogy/2'>Colosseum</a></div>
		<div><a href='/caterogy/3'>Rome Tours</a></div>
		<div><a href='/caterogy/4'>Private Transfer</a></div>
		<div><a href='/caterogy/5'>Segway Tours</a></div>
		<div><a href='/caterogy/6'>Dinner</a></div>
		<div><a href='/caterogy/7'>Open Bus</a></div>
	</div>
	<div>
		<div><a href='/contacts'>Contact Us</a></div>
		<div>+39 320 383 2794</div>
		<div>+39 327 069 7329</div>
		<div>cistour2018@gmail.com</div>
		<div>Facebook: <a href='https://www.facebook.com/cistoursroma'>@cistoursroma</a></div>
	</div>
	<div>
		<div><a href='/terms'>Terms and Conditions</a></div>
		<div><a href='/terms'>Refund policy</a></div>
		<div><a href='/terms'>Privacy</a></div>
		<div><a href='/terms'>Payment security</a></div>
	</div>
</div>
