<div>
	<div>
		<div><a href='/'>Home</a></div>
	</div>
	<div>
		<div><a href='/categories'>Categories</a></div>
		<div><a href='/category/1'>Vatican</a></div>
		<div><a href='/category/2'>Colosseum</a></div>
		<div><a href='/category/3'>Rome Tours</a></div>
		<div><a href='/category/4'>Private Transfer</a></div>
		<div><a href='/category/5'>Segway Tours</a></div>
		<div><a href='/category/6'>Dinner</a></div>
		<div><a href='/category/7'>Open Bus</a></div>
	</div>
	<div>
		<div><a href='/contacts'>Contact Us</a></div>
		<div>Phone: +39 06 69424083</div>
		<div>Mail: cistour2018@gmail.com</div>
		<div>Facebook: <a href='https://www.facebook.com/cistoursroma'>@cistoursroma</a></div>
		<div>Instagram: <a href='https://www.instagram.com/cis_tours/'>@cis_tours</a></div>
		<div>Address: <a href='https://goo.gl/maps/Fpmj47bikno'>Via Amiterno 22, Rome</a></div>
	</div>
	<div>
		<div><a href='/terms'>Terms and Conditions</a></div>
		<div><a href='/terms'>Refund policy</a></div>
		<div><a href='/terms'>Privacy</a></div>
		<div><a href='/terms'>Payment security</a></div>
	</div>
</div>
