<img src="/icons/logo_orizzontale.png">
<div>
        <section id="buttons">
                <button onClick="location.href='/'">Home</button>
                <button onClick="location.href='/categories'">Categories</button>
                <button onClick="location.href='/contacts'">Contact Us</button>
        </section>
</div>
