<!DOCTYPE html>
<html>
	<head>
		<title>C.I.S Tours</title>
		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
	</head>
	<body>
		<header>Logo</header>
		<nav>
			<section id="buttons">
				<button>Home</button>
				<button>Home</button>
				<button>Home</button>
				<button>Home</button>
			</section>
		</nav>
		<main>
			<section id="first_line">
				<div id="slideshow"></div>
			</section>
			<section id="second_line">
				<div class="row">
					<div class="off">
						<div class="img"></div>
						<div class="title">Roman Tour</div>
						<div class="price">42,00</div>
						<button class="butt">Read More</button>
					</div>
					<div class="off">Offerta</div>
					<div class="off">Offerta</div>
				</div>
				<div class="row">
					<div class="off">Offerta</div>
					<div class="off">Offerta</div>
					<div class="off">Offerta</div>
				</div>
			</section>
		</main>
	</body>
</html>
