<!DOCTYPE html>
<html>
	<head>
		<title>C.I.S Tours</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	</head>
	<body>
		<header>Logo</header>
		<nav>
			<img src="/images/icon.jpg">
			<section id="buttons">
				<button>Home</button>
				<button>Home</button>
				<button>Home</button>
				<button>Home</button>
			</section>
		</nav>
		<main>
		<div class="parallax" style="brackground-image: url('<%= product.img %>')"></div>
		</main>
	</body>
</html>
