<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<div>This is your ticket</div>
		<img src="<%= img_path %>">
		<div><%= title %></div>
		<div><%= description %></div>
		<div>Ticket includes:</div>
	</body>
</html>
