#cont{
	width: 100%;
	padding:{
		top: 1em;
		bottom: 1em;
	}
	box-shadow: 0px -2px 5px 0.2px rgba(29, 29, 29, 0.7);
	position: relative;
	z-index: 2;
	> * {
		width: 60%;
	}
	color: #1d1d1d;
	> button{
		color: #ffffff;
		background-color: #1e90ff;
		border: none;
		border-radius: 5px;
		width: 25%;
		padding: 0.5em;
		display: block;
	}
}
#title{
	text-align: center;
	font-size: 1.7em;
	margin-bottom: 0.3em;
}
#description{
	white-space: pre-wrap;
}
#info{
	display: table;
	table-layout: fixed;
	border-spacing: 0em;
	width: 50%;
	> div{
		display: table-cell;
		> div{
			display: table;
			border-spacing: 0.5em;
			margin-left: 0em;
			> i{
				font-size: 1.5em;
				display: table-cell;
				vertical-align: middle;
			}
			> p{
				display: table-cell;
				vertical-align: middle;
			}
		}
		> .highlights{
			border-spacing: 0em;
			font-size: 1.3em;
		}
	}
}
@media screen and (max-width: 640px){
	#cont{
		> * {
			width: 90%;
		}
		> button{
			width: 60%;
		}
	}
	#info{
		display: block;
		> div{
			display: block;
		}
	}
}
.ui-datepicker{
	background-color: rgba( 29, 29, 29, 1);
	color: #ffc000;
}
.ui-datepicker-header{
	display: table;
}
.ui-datepicker-prev, .ui-datepicker-next, .ui-datepicker-title{
	display: table-cell;
	vertical-align: middle;
}
.ui-datepicker-calendar{
	> tbody td{
		text-decoration: none;
		color: #ffc000;
		background-color: rgba(39, 39, 39, 1);
	}
}
