#cont{
	width: 100%;
	padding:{
		top: 1em;
		bottom: 1em;
	}
	box-shadow: 0px -2px 5px 0.2px rgba(29, 29, 29, 0.7);
	position: relative;
	z-index: 2;
	> * {
		width: 60%;
	}
	color: #1d1d1d;
	> button{
		color: #ffffff;
		background-color: #1e90ff;
		border: none;
		border-radius: 5px;
		width: 25%;
		padding: 0.5em;
		display: block;
	}
}
#title{
	text-align: center;
	font-size: 1.7em;
}
#description{
	white-space: pre-wrap;
}
#info{
	display: table;
	border-spacing: 0em;
	width: 50%;
	> div{
		display: table-cell;
		> div{
			display: table;
			border-spacing: 0.5em;
			margin-left: 0em;
			> i{
				font-size: 1.5em;
				display: table-cell;
				vertical-align: middle;
			}
			> p{
				display: table-cell;
				vertical-align: middle;
			}
		}
		> .highlights{
			border-spacing: 0em;
			font-size: 1.3em;
		}
	}
}
.ui-datepicker{
	background-color: rgba( 29, 29, 29, 1);
	color: #ffc000;
	border-radius: 3px;
}
.ui-datepicker-header{
	text-align: center;
	padding-top: 0.3em;
}
.ui-datepicker-prev{
	float: left;
	padding-left: 0.3em;
}
.ui-datepicker-next{
	float: right;
	padding-right: 0.3em;
}
.ui-datepicker-calendar{
	> tbody td{
		border-radius: 3px;
		background-color: rgba(39, 39, 39, 1);
		height: 2em;
		width: 2em;
		text-align: center;
		> a{
			text-decoration: none;
			color: #ffc000;
		}
	}
}
#standard_price{
	.price{
		> *:first-child{
			font-size: 1.3em;
		}
		> *:last-child{
			font-size: 2.5em;
		}
		> *{
			vertical-align: middle;
		}
	}
}
#date{
	display: block;
}
#price_options{
	display: table;
	table-layout: fixed;
}
.price_option{
	display: table-row;
	> *{
		display: table-cell;
	}
	> input{
		width: 1em;
	}
	> button{
		background-color: #1d1d1d;
		color: #ffc000;
		border: none;
		border-radius: 5px;
		line-height: normal;
	}
}

@media screen and (max-width: 640px){
	#cont{
		> * {
			width: 90%;
		}
		> button{
			width: 60%;
		}
	}
	#info{
		display: block;
		> div{
			display: block;
		}
	}
	#title{
		font-size: 1.5em;
	}
	#standard_price{
		.price{
			> *:first-child{
				font-size: 1em;
			}
		}
	}
}
